<app-search-bar-sounds></app-search-bar-sounds>
<div class="background">

  <svg class="left" vxmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M6 3l1.5 1.5L3.75 8l3.75 3.5L6 13 1 8l5-5z"/></svg>
  <svg class="left left2" vxmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M6 3l1.5 1.5L3.75 8l3.75 3.5L6 13 1 8l5-5z"/></svg>
  <svg class="right" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"/></svg>
  <svg class="right right2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"/></svg>

  <div class="slider-for">
    <div class="slider-for__slide">
      <div class="circle">
        <div class="circle__inside">
          <img src="./../../assets/2x/person01.png">
        </div>
      </div>
    </div>
    <div class="slider-for__slide">
      <div class="circle">
        <div class="circle__inside">
          <img src="./../../assets/2x/person02.png">
        </div>
      </div>
    </div>
    <div class="slider-for__slide">
      <div class="circle">
        <div class="circle__inside">
          <img src="./../../assets/2x/person03.png">
        </div>
      </div>
    </div>
    <div class="slider-for__slide">
      <div class="circle">
        <div class="circle__inside">
          <img src="./../../assets/2x/person04.png">
        </div>
      </div>
    </div>
  </div>

  <div class="slider-nav">
    <div class="slider-nav__slide">
      <h3>mixtape for dawn</h3>
      <h1>episode 023</h1>
      <div>
        <p class="title">STAFF REVIEWS</p>
        <p class="desc">
          A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture,
          or a passage from the grander poets. It always does one good.A peep at some distant orb has power to raise and
          purify our thoughts like a strain ...
        </p>
        <p class="title">EPISODES</p>
        <p class="desc">
          025 - Bill Simmons <br>
          024 - Jason Alexander <br> 
          023 - Neil Patrick Harrs / Michael ...<br>
          022 - They Might Be Giants<br>
          021 - Sean Penn / Lynn Shelton<br>
          020 - Nick Nolte<br>
          019 - Nell Scovell / Bill Hader<br>
          018 - Ted Danson
        </p>
      </div>
    </div>
    <div class="slider-nav__slide">
      <h3>mixtape for dawn</h3>
      <h1>episode 023</h1>
      <div>
        <p class="title">STAFF REVIEWS</p>
        <p class="desc">
          A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture,
          or a passage from the grander poets. It always does one good.A peep at some distant orb has power to raise and
          purify our thoughts like a strain ...
        </p>
        <p class="title">EPISODES</p>
        <p class="desc">
          025 - Bill Simmons <br>
          024 - Jason Alexander <br> 
          023 - Neil Patrick Harrs / Michael ...<br>
          022 - They Might Be Giants<br>
          021 - Sean Penn / Lynn Shelton<br>
          020 - Nick Nolte<br>
          019 - Nell Scovell / Bill Hader<br>
          018 - Ted Danson
        </p>
      </div>
    </div>
    <div class="slider-nav__slide">
      <h3>mixtape for dawn</h3>
      <h1>episode 023</h1>
      <div>
        <p class="title">STAFF REVIEWS</p>
        <p class="desc">
          A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture,
          or a passage from the grander poets. It always does one good.A peep at some distant orb has power to raise and
          purify our thoughts like a strain ...
        </p>
        <p class="title">EPISODES</p>
        <p class="desc">
          025 - Bill Simmons <br>
          024 - Jason Alexander <br> 
          023 - Neil Patrick Harrs / Michael ...<br>
          022 - They Might Be Giants<br>
          021 - Sean Penn / Lynn Shelton<br>
          020 - Nick Nolte<br>
          019 - Nell Scovell / Bill Hader<br>
          018 - Ted Danson
        </p>
      </div>
    </div>
    <div class="slider-nav__slide">
      <h3>mixtape for dawn</h3>
      <h1>episode 023</h1>
      <div>
        <p class="title">STAFF REVIEWS</p>
        <p class="desc">
          A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture,
          or a passage from the grander poets. It always does one good.A peep at some distant orb has power to raise and
          purify our thoughts like a strain ...
        </p>
        <p class="title">EPISODES</p>
        <p class="desc">
          025 - Bill Simmons <br>
          024 - Jason Alexander <br> 
          023 - Neil Patrick Harrs / Michael ...<br>
          022 - They Might Be Giants<br>
          021 - Sean Penn / Lynn Shelton<br>
          020 - Nick Nolte<br>
          019 - Nell Scovell / Bill Hader<br>
          018 - Ted Danson
        </p>
      </div>
    </div>



  </div>
