<div class="account">
  <p class="account__my">
    My Account
  </p>
  <p class="account__num">
    NUMBER: 33932392
  </p>
</div>

<div class="background">

  <div class="membership">
    <h3>AIR MEMBERSHIP</h3>
    <p class="underline">멤버쉽 가이드 보기</p>
    <div class="membership__img">
      <div class="membership__img__wrap">
        <img src="./../../assets/2x/star.png">
      </div>
    </div>
    <div class="membership__01">
      <div class="left01 box">
        <p class="box__desc">회원등급</p>
        <p class="box__info">BLUE</p>
      </div>
      <div class="right01 box">
        <p class="box__desc">총 숙박</p>
        <p class="box__info">12</p>
      </div>
    </div>
    <div class="membership__02">
      <div class="left02 box">
        <p class="box__desc">사용가능 쿠폰</p>
        <p class="box__info">7</p>
      </div>
      <div class="right02 box">
        <p class="box__desc">블루마일리지</p>
        <p class="box__info">48000</p>
      </div>
    </div>
  </div>

  <div>

    <div class="myevent">
      <h3 class="myevent__type">campaign</h3>
      <svg class="left" vxmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M6 3l1.5 1.5L3.75 8l3.75 3.5L6 13 1 8l5-5z"/></svg>
      <svg class="right" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"/></svg>
      <div class="slick-container">
        <div class="slide">
          <img src="./../../assets/2x/event01.png">
        </div>
        <div class="slide">
          <img src="./../../assets/2x/giffy_02.gif">
        </div>
        <div class="slide">
          <img src="./../../assets/2x/event02.png">
        </div>
      </div>

      <h3 class="myevent__title">WATER DROP CAMPAIGN, O2O</h3>
      <div class="wrap--btn">
        <button class="btn">#이벤트</button>
        <button class="btn">#에코마일리지</button>
      </div>
    </div>

    <div class="myevent">
      <h3 class="myevent__type">find the tune</h3>
      <svg class="left" vxmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M6 3l1.5 1.5L3.75 8l3.75 3.5L6 13 1 8l5-5z"/></svg>
      <svg class="right" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"/></svg>

      <div class="slick-container">
        <div class="slide">
          <img src="./../../assets/2x/giffy_03.gif">
        </div>
        <div class="slide">
          <img src="./../../assets/2x/event_03.png">
        </div>
        <div class="slide">
          <img src="./../../assets/2x/event04.png">
        </div>
      </div>

      <h3 class="myevent__title">Mixtape for Dawn, 021</h3>
      <div class="wrap--btn">
        <button class="btn">#팟캐스트</button>
        <button class="btn">#팟캐스트 후원</button>
      </div>
    </div>

    <div class="myevent">
      <h3 class="myevent__type">nanum shop</h3>
      <svg class="left" vxmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M6 3l1.5 1.5L3.75 8l3.75 3.5L6 13 1 8l5-5z"/></svg>
      <svg class="right" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"/></svg>
      
      <div class="slick-container">
        <div class="slide">
          <img src="./../../assets/2x/giffy_04.gif">
        </div>
        <div class="slide">
          <img src="./../../assets/2x/event06.png">
        </div>
        <div class="slide">
          <img src="./../../assets/2x/event05.png">
        </div>
      </div>

      <h3 class="myevent__title">Kinetic light D’light</h3>
      <div class="wrap--btn">
        <button class="btn">#재능기부 </button>
        <button class="btn">#착한 디자인</button>
      </div>
    </div>
  </div>

</div>

