<div class="wrapper">
  <div class="animate" id="animate"></div>
  <div class="background">

    <div class="circle">
      <div class="circle__inside">
        <img src="./../../assets/onair_logo.png">
      </div>
    </div>

    <div class="desc">
      <p class="text-wrap">
        <span>
          AIR HOTEL IS 
        </span>
        <span class="text-cover"></span>
      </p>
      <p class="text-wrap">
        <span>
          EVERYTHING YOU NEED AND 
        </span>
        <span class="text-cover"></span>
      </p>
      <p class="text-wrap">
        <span>
          NOTHING YOU DON'T
        </span>
        <span class="text-cover"></span>
      </p>

      <h3>
        <a class="link" href="rooms">
          JOIN / SIGN IN<pre> </pre>
          <svg style="width:30px;" viewBox="0 0 61.6 57.2"><defs><style>  .cls-1{stroke-miterlimit:10;stroke-width:2px;}</style></defs><title>  자산 9</title><g data-name="레이어 2"><g data-name="TXT & OBJET"><polygon class="cls-1" points="33 1.4 29.4 5 50.8 26.4 1 26.4 1 31.5 50.1 31.5 29.4 52.2 33 55.8 60.2 28.6 33 1.4"/></g></g></svg>
          <!-- <img src="./../../assets/icons/SVG/arrow_right.svg"> -->
        </a>
      </h3>
    </div>

    <!-- <div style="width:100%; height:1px; background-color:white"></div> -->

    <footer>
      <div>
        <p>
            +82-2-2680-0583<br>
            www.airhotel.com
        </p>
        <p>
            COPYRIGHT(C) 2018 BLUEONE<br>
            ALL RIGHT RESERVED
        </p>
      </div>
    </footer>

  </div>
</div>
