.background {
    margin-top: 45px;
    padding: 0 16px 48px 16px;

}

.pad {
    padding-right: 4px;
}
.pad-bot {
    padding-bottom: 4px;
}

.wrap {
    display: flex;
    justify-content:  space-between;
    margin-bottom: 4px;

    img { 
        width: 100%;
        height: 100%;
    }
}

.wrap01 {

    .x1 {
        width: 33vw;
    }

    .x2 {
        width: 66vw;
    }
}

.wrap02 {
    .wrap--x1 {
        width: 33vw;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .x1 {
            height: 50%;
        }
    }

}

.wrap03 {
    .wrap--x2 {
        width: 67vw;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .x1 {
            height: 50%;
        }
    }

    .wrap--x1 {
        width: 33vw;
    }

}