<app-search-bar-moments></app-search-bar-moments>

<div class="background">


  <div class="wrap01 wrap">
    <div class="x1 pad"><img src="./../../assets/2x/sq01.png"></div>
    <div class="x2"><img src="./../../assets/2x/sq02.png"></div>
  </div>

  <div class="wrap02 wrap">
    <div class="wrap--x1 pad">
      <div class="x1 pad-bot"><img src="./../../assets/2x/sq03.png"></div>
      <div class="x1"><img src="./../../assets/2x/sq06.png"></div>
    </div>
    <div class="wrap--x1 pad"><img src="./../../assets/2x/sq04.png"></div>
    <div class="wrap--x1">
      <div class="x1 pad-bot"><img src="./../../assets/2x/sq05.png"></div>
      <div class="x1"><img src="./../../assets/2x/sq07.png"></div>
    </div>
  </div>


  <div class="wrap03 wrap">
    <div class="wrap--x2 pad">
      <div class="x1 pad-bot"><img src="./../../assets/2x/sq08.png"></div>
      <div class="x1"><img src="./../../assets/2x/sq10.png"></div>
    </div>
    <div class="wrap--x1"><img src="./../../assets/2x/sq09.png"></div>
  </div>

  <div class="wrap01 wrap">
    <div class="x1 pad"><img src="./../../assets/2x/sq01.png"></div>
    <div class="x2"><img src="./../../assets/2x/sq02.png"></div>
  </div>

</div>

<app-nav-bar></app-nav-bar>