@import './../../color';

.background {
    background-color: white;
    svg {
        position: absolute;
        z-index:2000;
        fill: rgba(255,255,255,.5)
    }
    .left {
        top:80px;
        left:0;
    }
    .right {
        top:80px;
        right:0;
    }
}

.slick-container {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow:hidden;
    margin-bottom: 4px !important;

    .slide {
        img {
            width: 100%;
        }
    }
    .slide__desc {
        position: absolute;
        top: 60px;
        width:100%;
        z-index: 1000;
        color: white;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-flow: column;
        align-items:  center;
        justify-content:  center;

        h1 {
            font-size:30px;
            font-family: "brother-1816-black";
            margin-bottom: 8px;
        }

        p {
            font-size: 10px;
            font-family: 'Nanum Square Light';
        }
    }

}

.dots {
    position: absolute;
    top: 150px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
}


.cast::-webkit-scrollbar { 
    display: none; 
}

.cast {
    overflow: hidden;
    margin-bottom: 16px;
    h1 {
        padding-left: 16px;
        font-size: 15px;
        color: $blue;
        font-family: "brother-1816-medium";
        margin-bottom: 8px;
    }
}




.cast__items {
    display:flex;
    width:200%;
}

.circle {
    width: 100px;
    height: 160px;
    margin: 0 6px;
    overflow: hidden;

    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;

    .circle__inside {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background:$blue;
        margin-bottom: 8px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .desc01 {
        color: $blue;
        font-size:11px;
        margin-bottom: 4px;
    }
    .desc02, .desc03 {
        color: gray;
        font-size: 10px;
        display:flex;

        .svg--box {
            display: flex;
            align-items: center;
            width: 10px;
            height: 18px;
        }

        svg {
            fill: currentColor;
        }
    }
}

.staff {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 100px;
    h1 {
        font-size: 15px;
        color: $blue;
        font-family: "brother-1816-medium";
        margin-bottom: 8px;
    }
}

.pick {
    display:flex;
    .pick__img {
        width: 42px;
        height: 42px;
        background-color: $blue;
        margin-right: 8px;
        img {
            width: 100%;
        }
    }

    .desc__box {
        display:flex;
        flex-flow:column;
        justify-content: center;;
    }
    .desc01 {
        font-size: 11px;
        font-family: "brother-1816-medium";
    }
    .desc02 {
        font-size: 10px;
        color: gray;
    }

}

.mat-icon-button:active {

    background: red;
}
.mat-button-wrapper:active {
    opacity: 0.1;
}