
<div class="background">
  <svg class="left" vxmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M6 3l1.5 1.5L3.75 8l3.75 3.5L6 13 1 8l5-5z"/></svg>
  <svg class="right" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"/></svg>
  <div class="slick-container">
    <div class="slide">
      <img src="./../../assets/2x/sound01.png">
      <div class="slide__desc">
        <h1>ON AIR</h1>
        <p>에어호텔 듣기</p>
      </div>
    </div>
    <div class="slide">
      <img src="./../../assets/2x/sound02.png">
      <div class="slide__desc">
        <h1>BOOK A STUDIO</h1>
        <p>녹음 스튜디오 예약하기</p>
      </div>
    </div>
    <div class="slide">
      <img src="./../../assets/2x/room03.png">
      <div class="slide__desc">
        <h1>THIRD AIR</h1>
        <p>새로운 서비스 만들기</p>
      </div>
    </div>
  </div>
  <div class="dots"></div>

  <div class="cast">
    <h1>New Cast</h1>
    <div class="cast__items">
      <div class="circle">
        <div class="circle__inside">
          <img src="./../../assets/2x/person01.png">
        </div>
        <div>
          <p class="desc01">Mixtape for Dawn</p>
          <p class="desc02">episode 23</p>
          <p class="desc03">by RAYA</p>
        </div>
      </div>
      <div class="circle">
        <div class="circle__inside">
          <img src="./../../assets/2x/person02.png">
        </div>
        <div>
          <p class="desc01">The New Yorker</p>
          <p class="desc02">
            <svg style="width:30px;"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 11.55"><defs><style>.cls-1{opacity:0.6;}</style></defs><title>자산 19</title><g id="레이어_2" data-name="레이어 2"><g id="TXT_OBJET" data-name="TXT &amp; OBJET"><polygon class="cls-1" points="10 5.77 0 0 0 11.55 10 5.77"/></g></g></svg>
            episode 23
          </p>
          <p class="desc03">by WNYC Studio</p>
        </div>
      </div>
      <div class="circle">
        <div class="circle__inside">
          <img src="./../../assets/2x/person03.png">
        </div>
        <div>
          <p class="desc01">Work Life</p>
          <p class="desc02">episode 23</p>
          <p class="desc03">by TED</p>
        </div>
      </div>
      <div class="circle">
        <div class="circle__inside">
          <img src="./../../assets/2x/person04.png">
        </div>
        <div>
          <p class="desc01">Young & Happy</p>
          <p class="desc02">episode 23</p>
          <p class="desc03">by RAYA</p>
        </div>
      </div>
      <div class="circle">
        <div class="circle__inside"></div>
        <div>
          <p class="desc01">Mixtape for Dawn</p>
          <p class="desc02">episode 23</p>
          <p class="desc03">by RAYA</p>
        </div>
      </div>
      <!-- <img src="./../../assets/2x/sq01.png">
      <img src="./../../assets/2x/sq01.png">
      <img src="./../../assets/2x/sq01.png">
      <img src="./../../assets/2x/sq01.png">
      <img src="./../../assets/2x/sq01.png">
      <img src="./../../assets/2x/sq01.png"> -->
    </div>
  </div>

  <div class="staff">
    <h1>Staff Pick</h1>

    <div class="pick"> 
      <div class="pick__img"></div>
      <div class="desc__box">
        <p class="desc01">Nice For What</p>
        <p class="desc02">Drake - Nice For What - Single</p>
      </div>
    </div>
    <div class="pick"> 
      <div class="pick__img"></div>
      <div class="desc__box">
        <p class="desc01">I Like It</p>
        <p class="desc02">Cardi B, Bad Bunny & J Balvin -...</p>
      </div>
    </div>
    <div class="pick"> 
      <div class="pick__img"></div>
      <div class="desc__box">
        <p class="desc01">Get Along</p>
        <p class="desc02">Kenny Chesney - Get Along - S...</p>
      </div>
    </div>
    <div class="pick"> 
      <div class="pick__img"></div>
      <div class="desc__box">
        <p class="desc01">Nice For What</p>
        <p class="desc02">Drake - Nice For What - Single</p>
      </div>
    </div>
    <div class="pick"> 
      <div class="pick__img"></div>
      <div class="desc__box">
        <p class="desc01">I Like It</p>
        <p class="desc02">Cardi B, Bad Bunny & J Balvin -...</p>
      </div>
    </div>
    <div class="pick"> 
      <div class="pick__img"></div>
      <div class="desc__box">
        <p class="desc01">Get Along</p>
        <p class="desc02">Kenny Chesney - Get Along - S...</p>
      </div>
    </div>

  </div>
</div>

<app-nav-bar></app-nav-bar>