@import './../../color.scss';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img {
    opacity: 0;
    animation:fadeIn 2s ease 0.5s forwards;
}

.background {
    // margin-top: 45px;
    padding: 0 16px;
    background-color:white;
    min-height:100vh;
}

.photos {
    // width:100%;
    width: calc(88vw + 8px);
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 100px;
    margin:auto;
    .photos__box {
        width: 22vw;
        height: 22vw;
        margin: 1px;
        position: relative;
        .aPhoto {
            position: absolute;
            // width:100%;
            img {
                width: 100%;
            }
            img:hover {
                filter:opacity(0.5);
            }
        }
    }
}

.selected__photo {
    padding-top: 6px;
    width: calc(88vw + 8px);
    height: calc(88vw + 8px);
    margin: auto;
    img {
        width: 100%;
    }
}

.inFocus__control {
    padding-top: 56px;
    width: calc(88vw + 8px);
    margin: auto;
    svg {
        width: 14px;
    }
}

.circle {
    position: fixed;
    bottom:15px;
    left:50%;
    transform: translate(-50%, 0);
    height: 85px;
    width: 85px;
    cursor:pointer;
}

.circle__inside {
    background-color: #3217b2c4;
    border-radius: 50%;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    p {
        padding-top: 8px;
        color: white;
        text-align: center;
        font-size: 10px;
    }
}