<div class="navbar">

  <div class="tab" routerLink='/rooms'>
    <div class="tab__img search">
      <img src="./../../assets/1x/search.png">
    </div>
    <sub>SEARCH</sub>
  </div>

  <div class="tab" routerLink='/moments'>
    <div class="tab__img moments">
      <img src="./../../assets/1x/moments.png">
    </div>
    <sub>MOMENTS</sub>
  </div>

  <div class="tab" routerLink='/sounds'>
    <div class="tab__img sounds">
      <img src="./../../assets/1x/sounds.png">
    </div>
    <sub>SOUNDS</sub>
  </div>

  <div class="tab" routerLink="/my">
    <div class="tab__img my">
      <img src="./../../assets/1x/my.png">
    </div>
    <sub>MY</sub>
  </div>

</div>
