@import './../../color';

@keyframes fadeIn {
    0% {
        opacity: 0;
        width:5%;
        height:5%;
    }
    100% {
        opacity: 1;
        width:100%;
        height:100%;
    }
}

.navbar {
    opacity:0;
    animation:fadeIn 2s ease 0.5s forwards;
    box-shadow: 0 3px 6px 0px #777;
    z-index: 9998;

    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 40px;
    background-color:$lightgray;
    display:flex;
    justify-content: space-between;

    transition: all 1s ease;

}

.tab {
    display:flex;
    // flex-flow:column;
    justify-content: center;
    align-items: center;
    width: 25%;
    // padding: 10px 0;
    .tab__img {
        padding: 0;
        width: 100%;
        height: 100%;
        padding-top: 2px;
    }
    sub {
        font-size: 10px;
        font-family: "brother-1816-medium";
    }
}

.search {
    width: 26px;
}
.moments {
    width: 19px;
}
.sounds {
    width: 15px;
}
.my {
    width: 18px;
}
