<app-search-bar></app-search-bar>
<app-nav-bar></app-nav-bar>

<div class="background">

  <div class="bg effect4">

    <div class="nav">
      <div class="nav__check">
        <div class="nav__check__title">
          check-in
        </div>
        <div class="nav__check__info">
          <h3>TODAY</h3>
          <p>2018 . 04 . 08 (Mon)</p>
        </div>
      </div>

      <div class="nav__check">
        <div class="nav__check__title">
          check-out
        </div>
        <div class="nav__check__info">
          <h3>TOMORROW</h3>
          <p>2018 . 04 . 09 (Tue)</p>
        </div>
      </div>
    </div>

    <div class="nav__occu">
      Occupancy
    </div>
    <div class="nav__people">
      <div class="nav__people__detail">
        <p>
          Adult
        </p>
        <div>
          2
        </div>
      </div>
      <div class="nav__people__detail">
        <p>
          Infant
        </p>
        <div>
          0
        </div>
      </div>
    </div>

  </div>

  <div class="list">
    <div class="room">
      <div class="room__img">
        <img src="./../../assets/2x/room01.png">
      </div>
      <div class="room__desc">
        <h3>
          Junior Suite
        </h3>
        <h3>
          263,500<sub>krw</sub>
        </h3>
      </div>
      <div class="room__info">
        <p>size : 42m²</p>
        <p>beds : Double</p>
        <div style="display:flex;">
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <sub>197</sub>
        </div>

      </div>
    </div>

    <div class="room">
      <div class="room__img">
        <img src="./../../assets/2x/room02.png">
      </div>
      <div class="room__desc">
        <h3>
          Deluxe
        </h3>
        <h3>
          142,600<sub>krw</sub>
        </h3>
      </div>
      <div class="room__info">
        <p>size : 28m²</p>
        <p>beds : Double, Twin, Family Twin</p>
        <div style="display:flex;">
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <sub>103</sub>
        </div>

      </div>
    </div>

    <div class="room">
      <div class="room__img">
        <img src="./../../assets/2x/room03.png">
      </div>
      <div class="room__desc">
        <h3>
          Grand Suite
        </h3>
        <h3>
          418,500<sub>krw</sub>
        </h3>
      </div>
      <div class="room__info">
        <p>size : 56m²</p>
        <p>beds : Double</p>
        <div style="display:flex;">
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <sub>197</sub>
        </div>
      </div>
    </div>

  </div>


</div>

