<app-search-bar></app-search-bar>

<div class="background">

  <div class="bg">

    <div class="nav">
      <div class="nav__check">
        <div class="nav__check__title">
          check-in
        </div>
        <div class="nav__check__info">
          <h3>TODAY</h3>
          <p>2018 . 04 . 08 (Mon)</p>
        </div>
      </div>

      <div class="nav__check">
        <div class="nav__check__title">
          check-out
        </div>
        <div class="nav__check__info">
          <h3>TOMORROW</h3>
          <p>2018 . 04 . 09 (Tue)</p>
        </div>
      </div>
    </div>

    <!-- <div class="nav__occu">
      Occupancy
    </div> -->
    <div class="nav__people">
      <div class="nav__people__detail">
        <p>
          Adult
        </p>

        <div class="nav__people__num">
          <div class="svg--container">
              <svg style="width:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 4"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>자산 12</title><g id="레이어_2" data-name="레이어 2"><g id="TXT_OBJET" data-name="TXT &amp; OBJET"><line class="cls-1" y1="2" x2="30" y2="2"/></g></g></svg>
          </div>
          <p class="nav__people__num__num">
            2
          </p>
          <div class="svg--container">
            <svg style="width: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px"><defs><style>  .cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>  자산 11</title><g data-name="레이어 2"><g data-name="TXT & OBJET"><line class="cls-1" y1="15" x2="30" y2="15"/><line class="cls-1" x1="15" x2="15" y2="30"/></g></g></svg>
          </div>
        </div>
      </div>
      <div class="nav__people__detail">
        <p>
          Infant
        </p>
        <div class="nav__people__num">
          <div class="svg--container">
              <svg style="width:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 4"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>자산 12</title><g id="레이어_2" data-name="레이어 2"><g id="TXT_OBJET" data-name="TXT &amp; OBJET"><line class="cls-1" y1="2" x2="30" y2="2"/></g></g></svg>
          </div>
          <p class="nav__people__num__num">
            0
          </p>
          <div class="svg--container">
            <svg style="width: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px"><defs><style>  .cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>  자산 11</title><g data-name="레이어 2"><g data-name="TXT & OBJET"><line class="cls-1" y1="15" x2="30" y2="15"/><line class="cls-1" x1="15" x2="15" y2="30"/></g></g></svg>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="list">
    <div class="room">
      <div class="room__img">
        <img src="./../../assets/2x/room01.png">
      </div>
      <div class="room__desc">
        <h3>
          Junior Suite
        </h3>
        <h3>
          263,500<sub>krw</sub>
        </h3>
      </div>
      <div class="room__info">
        <p>size : 42m²</p>
        <p>beds : Double</p>
        <div style="display:flex;">
          <!-- <div style="width:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.58 20.63"><defs><style>.cls-1{fill:#666666;}</style></defs><title>smallstar</title><g id="레이어_2" data-name="레이어 2"><g id="TXT_OBJET" data-name="TXT &amp; OBJET"><g class="cls-1"><path d="M13.31,7.59h8.27l-6.7,5,2.77,8-7-5.18-6.78,5,2.57-8L0,7.59H8.13L10.68,0Z"/></g></g></g></svg>
          </div>
          <div style="width:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.58 20.63"><title>smallstar</title><g id="레이어_2" data-name="레이어 2"><g id="TXT_OBJET" data-name="TXT &amp; OBJET"><g class="cls-1"><path d="M13.31,7.59h8.27l-6.7,5,2.77,8-7-5.18-6.78,5,2.57-8L0,7.59H8.13L10.68,0Z"/></g></g></g></svg>
          </div>
          <div style="width:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.58 20.63"><title>smallstar</title><g id="레이어_2" data-name="레이어 2"><g id="TXT_OBJET" data-name="TXT &amp; OBJET"><g class="cls-1"><path d="M13.31,7.59h8.27l-6.7,5,2.77,8-7-5.18-6.78,5,2.57-8L0,7.59H8.13L10.68,0Z"/></g></g></g></svg>
          </div>
          <div style="width:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.58 20.63"><title>smallstar</title><g id="레이어_2" data-name="레이어 2"><g id="TXT_OBJET" data-name="TXT &amp; OBJET"><g class="cls-1"><path d="M13.31,7.59h8.27l-6.7,5,2.77,8-7-5.18-6.78,5,2.57-8L0,7.59H8.13L10.68,0Z"/></g></g></g></svg>
          </div>
          <div style="width:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.58 20.63"><title>smallstar</title><g id="레이어_2" data-name="레이어 2"><g id="TXT_OBJET" data-name="TXT &amp; OBJET"><g class="cls-1"><path d="M13.31,7.59h8.27l-6.7,5,2.77,8-7-5.18-6.78,5,2.57-8L0,7.59H8.13L10.68,0Z"/></g></g></g></svg>
          </div> -->

          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <sub>197</sub>
        </div>

      </div>
    </div>

    <div class="room">
      <div class="room__img">
        <img src="./../../assets/2x/room02.png">
      </div>
      <div class="room__desc">
        <h3>
          Deluxe
        </h3>
        <h3>
          142,600<sub>krw</sub>
        </h3>
      </div>
      <div class="room__info">
        <p>size : 28m²</p>
        <p>beds : Double, Twin, Family Twin</p>
        <div style="display:flex;">
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <sub>103</sub>
        </div>

      </div>
    </div>

    <div class="room">
      <div class="room__img">
        <img src="./../../assets/2x/room03.png">
      </div>
      <div class="room__desc">
        <h3>
          Grand Suite
        </h3>
        <h3>
          418,500<sub>krw</sub>
        </h3>
      </div>
      <div class="room__info">
        <p>size : 56m²</p>
        <p>beds : Double</p>
        <div style="display:flex;">
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <div style="width:10px;"><img style="width:100%;padding-top:5px;" src="./../../assets/2x/rate.png"></div>
          <sub>197</sub>
        </div>
      </div>
    </div>

    <div class="returntop--wrap">
      <button mat-icon-button class="returntop" (click)='scrollToTop()'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.92 103.92"><defs><style>.cls-1{stroke: #2d1ba4;fill:#2d1ba4;}.cls-2{fill:#fff;}</style></defs><title>circleuparrow</title><g id="레이어_2" data-name="레이어 2"><g id="object"><circle class="cls-1" cx="51.96" cy="51.96" r="51.96"/><polygon class="cls-2" points="27.6 49.83 30.81 53.05 49.97 33.89 49.97 78.46 54.52 78.46 54.52 34.46 73.11 53.05 76.33 49.83 51.96 25.46 27.6 49.83"/></g></g></svg>
      </button >
    </div>
  </div>



</div>

