/* You can add global styles to this file, and also import other style files */


html {
    font-family: "brother-1816",sans-serif;
}
body {
    margin: 0;
}

p, h1, h2, h3, span {
    margin: 0;
    font-weight: 400;
}
